<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
	<!-- Title Tag  -->
    <title>Tierra Eshop</title>
	{% load static %}
	<!-- Logo -->
	<link rel="icon" type="image/png" href="{% static 'images/logoblack1.jpg' %}" >
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">

	<style>
		table,th,td
		{
		border:2px solid lightseagreen;
		border-collapse:collapse;
		}
		th,td
		{
		font-weight:900;
		font-size:25px;
		color:black;
		padding:15px;
		}
	</style>
</head>
<body>
<!-- Header -->
<header class="header shop">
	<!-- Topbar -->
	<div class="middle-inner" style="background-image:url('{% static 'images/gif.jpg' %}');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-12">
					<!-- Logo -->
					<div class="logo">
						<br>
						<img src="{% static 'images/logoblack1.jpg' %}" alt="logo" style=" position: absolute; top: 0px;left:250px;width:95px;height:80px;">
					</div>
					<!--/ End Logo -->
				</div>
				<div class="logo" ><center><h1 style="position: absolute; top: 18px;right:400px;text-shadow: 2px 2px black;color:deeppink;font-size:70px;text-indent:0.5em; font-family:Sofia,sans-serif;"><b>Tierra EShop</b></h1></center></div>
			</div>
		</div><br><br>
	</div>
	<!-- Header Inner -->
	<div class="header-inner" style="background:#000536;">
		<div class="container">
			<div class="cat-nav-head">
				<div class="row">
					<div class="col-12">
						<div class="menu-area">
							<!-- Main Menu -->
							<nav class="navbar navbar-expand-lg">
								<div class="navbar-collapse">
									<div class="nav-inner">
										<ul class="nav main-menu menu navbar-nav">
											<li ><a href="http://127.0.0.1:8000/main/">All Categories</a></li>
											<li><a href="http://127.0.0.1:8000/ofr/">Offer Zone</a></li>
											<li><a href="http://127.0.0.1:8000/mobile/">Mobile<span class="new">New</span></a>
											</li>
											<li><a href="">Clothing<span class="new">New</span></a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/men/">Men</a></li>
													<li><a href="http://127.0.0.1:8000/women/">Women</a></li>
													<li><a href="http://127.0.0.1:8000/kids/">Kids</a></li>
													<li><a href="http://127.0.0.1:8000/fash/">All</a></li>
												</ul>
											</li>
											<li><a href="">Electronics</a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/lap/">Laptops</a></li>
													<li><a href="http://127.0.0.1:8000/wat/">Watches</a></li>
													<li><a href="http://127.0.0.1:8000/hd/">Headphones</a></li>
													<li><a href="http://127.0.0.1:8000/ear/">Earbuds</a></li>
												</ul>
											</li>
											<li><a href="">Appliances</a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/tv/">Television</a></li>
													<li><a href="http://127.0.0.1:8000/ac/">Air Conditioners </a></li>
													<li><a href="http://127.0.0.1:8000/rf/">Refrigerators</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</nav>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--/ End Header Inner -->
<div style="background-image:url('{% static 'images/gif.jpg' %}');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
<!-- Body -->
<center>
	<div>
		<h1 style="text-shadow: 1px 1px black;color:#ffccff;font-size:50px;text-indent:0.5em; font-family: Trirong,serif;"><B>YOUR ORDER HAS BEEN PLACED!&#10084;&#65039;</B></h1>
	</div>
</center>
<center>
	<marquee scrollamount="15" direction="right">
		<img src="{% static 'images/gf1.jpg' %}" width="250px;" height="250px;">
		<img src="{% static 'images/gif2.jpg' %}" width="250px;" height="250px;">
		<img src="{% static 'images/gf3.jpg' %}" width="250px;" height="250px;">
		<img src="{% static 'images/gf4.jpg' %}" width="250px;" height="250px;">
		<img src="{% static 'images/gf5.jpg' %}" width="250px;" height="250px;">
	</marquee>
</center>

<!-- Body End -->
<hr style="background-color:black;height:2px;">
<!-- Footer Top -->
<footer class="footer" style="font-size:20px;color:black;">
	<div class="footer-top section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer about">
						<div class="logo">
							<img src="{% static 'images/log.jpg' %}" alt="#" width="300px" height="80px">
						</div><br>
						<p class="call">Got Question?  Call us 24/7 <span><a href="tel:123456789"> +0123 456 789</a></span></p>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Information</h4>
						<a href="#">About Us</a>
						<a href="#">Faq</a>
						<a href="#">Terms & Conditions</a>
						<a href="#">Contact Us</a>
						<a href="#">Help</a>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Customer Service</h4>
						<a href="#">Payment Methods</a>
						<a href="#">Money-back</a>
						<a href="#">Returns</a>
						<a href="#">Shipping</a>
						<a href="#">Privacy Policy</a>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer social">
						<h4>Get In Touch</h4>
						<!-- Single Widget -->
						<div class="contact">
							Kozhikode.
							Kerala,India
							info@tierraeshop.com<br>
							+911 2345 6789
						</div>
						<!-- End Single Widget -->
						<a href="#"><i class="ti-facebook"></i></a>
						<a href="#" ><i style="text-indent:3em;" class="ti-twitter"></i></a>
						<a href="#"><i class="ti-instagram"></i></a>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p>Copyright © 2020 <a href="http://www.tierraeshopp.com" target="_blank">TierraEshop</a>  -  All Rights Reserved.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							<img src="{% static 'images/payments.png' %}" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</body>
</html>