<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
	<!-- Title Tag  -->
    <title>Tierra Eshop</title>
	{% load static %}
	<!-- Logo -->
	<link rel="icon" type="image/png" href="{% static 'images/logoblack1.jpg' %}" >
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
<!-- Header -->
<header class="header shop" >
<!-- Topbar -->
	<div class="middle-inner" style="background-image:url('{% static 'images/kw1.jpg' %}');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-12">
				<!-- Logo -->
					<div class="logo">
						<img src="{% static 'images/logoblack1.jpg' %}" alt="logo" style=" position: absolute; top: 0px;left:250px;width:95px;height:80px;">
					</div>
				<!--/ End Logo -->
				</div>
				<div class="logo" ><center><h1 style="position: absolute; top: 18px;right:400px;text-shadow: 2px 2px black;color:deeppink;font-size:70px;text-indent:0.5em; font-family:Sofia,sans-serif;"><b>Tierra EShop</b></h1></center></div>
				<div class="col-lg-2 col-md-3 col-12">
					<div class="right-bar" >
						<br><br>
						<div class="sinlge-bar" >
							<a href="http://127.0.0.1:8000/" class="single-icon" style="position: absolute; top: 1px;left:600px;"><i class="fa fa-user-circle-o" style="font-size:48px;color:navy;"></i></a>
						</div>
						<div class="sinlge-bar shopping" >
							<a href="http://127.0.0.1:8000/cart/" class="single-icon" style="position: absolute; top: 1px;left:700px;"><i class="fa fa-shopping-cart" style="font-size:48px;color:navy;"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div><br>
	</div>
	<!-- Header Inner -->
	<div class="header-inner" style="background:#000536;" >
		<div class="container">
			<div class="cat-nav-head" >
				<div class="row">
					<div class="col-12">
						<div class="menu-area" >
						<!-- Main Menu -->
							<nav class="navbar navbar-expand-lg" >
								<div class="navbar-collapse">
									<div class="nav-inner">
										<ul class="nav main-menu menu navbar-nav">
											<li ><a href="http://127.0.0.1:8000/main/">All Categories</a></li>
											<li><a href="http://127.0.0.1:8000/ofr/">Offer Zone</a></li>
											<li><a href="http://127.0.0.1:8000/mobile/">Mobile<span class="new">New</span></a>
											</li>
											<li  class="active"><a href="">Clothing<span class="new">New</span></a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/men/">Men</a></li>
													<li><a href="http://127.0.0.1:8000/women/">Women</a></li>
													<li><a href="http://127.0.0.1:8000/kids/">Kids</a></li>
													<li><a href="http://127.0.0.1:8000/fash/">All</a></li>
												</ul>
											</li>
											<li><a href="">Electronics</a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/lap/">Laptops</a></li>
													<li><a href="http://127.0.0.1:8000/wat/">Watches</a></li>
													<li><a href="http://127.0.0.1:8000/hd/">Headphones</a></li>
													<li><a href="http://127.0.0.1:8000/ear/">Earbuds</a></li>
												</ul>
											</li>
											<li><a href="">Appliances</a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/tv/">Television</a></li>
													<li><a href="http://127.0.0.1:8000/ac/">Air Conditioners </a></li>
													<li><a href="http://127.0.0.1:8000/rf/">Refrigerators</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!--/ End Header -->

<!--/ Body -->
<div style="background-image:url('{% static 'images/kw1.jpg' %}');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
	<center>
		<h2 style="color:hotpink;text-shadow: 2px 2px black;"><b><i>Ethnic Kurti Love &#10084;</i></b></h2>
	</center>
	<hr color="black" style="height:2px;">
<!-- Card one -->
<div class="row">
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti1.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Rayon Printed Kurti</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 799.00</b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="RayonPrintedKurti" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity" style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t1 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti2.png' %}"width="180px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Khadi readymade Kurti</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 579</b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="KhadireadymadeKurti" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t2 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti3.png' %}"width="250px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Rayon A-Line Kurta</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 999 </b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="RayonA-LineKurta" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t3 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card" >
			<center><img src="{% static 'images/kurti4.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Soft Rayon Kurta</b></h5>
			<h4 style="color:green;"><b>Price:  ₹ 779 </b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="SoftRayonKurta" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t4 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
</div>
<br>
<!-- Card One End-->

<!-- Card 2 -->
<div class="row">
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti5.png' %}" width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Crepe Straight Kurti</b></h5>
			<h4 style="color:green;"><b>Price:	₹ 499</b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="CrepeStraightKurti" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
					<div style="color:#241571;font-size:19px;"><b> {{ t5 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti6.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>NAINVISH Crepe Kurti</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 499</b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="NAINVISHCrepeKurti" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t6 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti7.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Pure Cotton Straight Kurta</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 999 </b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="PureCottonStraightKurta" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t7 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card" >
			<center><img src="{% static 'images/kurti8.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>kalpit creations Rayon Kurta </b></h5>
			<h4 style="color:green;"><b>Price:  ₹ 499 </b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="kalpitcreationsRayonKurta" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t8 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
</div>
<br>
<!-- Card 2 end -->

<!-- Card 3 -->
<div class="row">
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti9.png' %}"width="180px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Anarkali Kurti</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 659</b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="AnarkaliKurti" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t9 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti10.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Cotton Anarkali KurtI</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 737</b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="CottonAnarkaliKurtI" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t10 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<center><img src="{% static 'images/kurti11.png' %}"width="250px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Silk Straight Kurti</b></h5>
			<h4 style="color:green;"><b>Price: ₹ 543 </b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="silkstraightKurti" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" NAME="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t11 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
	<div class="column">
		<div class="card" >
			<center><img src="{% static 'images/kurti12.png' %}"width="200px" height="310px"></center>
			<h5 style="color:darkmagenta;"><b>Elite Ethnic Solid Kurta</b></h5>
			<h4 style="color:green;"><b>Price:  ₹ 599 </b></h4>
			<form role="form" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
				<div class="row">
					<input type="checkbox" id="kurti" name="kurti" value="EliteEthnicSolidKurta" style="margin-left:30px;width:35px;height:18px;">
					<label for="kurti">  Quantity   :</label>
					<input type="number" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t12 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</div>
	</div>
</div>
<!-- Card 3 end -->
<hr color="black" style="height:2px;">
<!-- Footer Start -->
<footer class="footer">
<!-- Footer Top -->
	<div class="footer-top section" style="color:white;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
				<!-- Single Widget -->
					<div class="single-footer about">
						<div class="logo">
							<img src="{% static 'images/log.jpg' %}" alt="#" height="80px" width="300px"></a>
						</div><br><br>
						<p class="call" >Got Question?  Call us 24/7 <span><a href="tel:123456789" > +0123 456 789</a></span></p>
					</div>
				<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
				<!-- Single Widget -->
					<div class="single-footer links">
						<h4 >Information</h4>
						<a href="#" >About Us</a>
						<a href="#" >Faq</a>
						<a href="#" >Terms & Conditions</a>
						<a href="#" >Contact Us</a>
						<a href="#" >Help</a>
					</div>
				<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
				<!-- Single Widget -->
					<div class="single-footer links">
						<h4 style="color:black;">Customer Service</h4>
						<a href="#" >Payment Methods</a>
						<a href="#" >Money-back</a>
						<a href="#" >Returns</a>
						<a href="#" >Shipping</a>
						<a href="#" >Privacy Policy</a>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
				<!-- Single Widget -->
					<div class="single-footer social">
						<h4 >Get In Touch</h4>
					<!-- Single Widget -->
						<div class="contact"style="color:black;">
							Kozhikode.
							Kerala,India
							info@tierraeshop.com<br>
							+911 2345 6789
						</div>
					<!-- End Single Widget -->
						<a href="#"  style="color:blue;"><i class="ti-facebook"></i></a>
						<a href="#"  style="color:blue;"><i style="text-indent:3em;" class="ti-twitter"></i></a>
						<a href="#"  style="color:blue;"><i class="ti-instagram"></i></a>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container" style="color:white;">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p >Copyright © 2020 <a href="http://www.tierraeshopp.com" target="_blank">TierraEshop</a>  -  All Rights Reserved.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							<img src="{% static 'images/payments.png' %}" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</body>
</html>