<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Title Tag  -->
    <title>Tierra Eshop</title>
	{% load static %}
	<!-- Logo -->
	<link rel="icon" type="image/png" href="{% static 'images/logoblack1.jpg' %}" >
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Flip Card -->
	<link rel="stylesheet" href="{% static 'css/flip.css' %}">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
<!-- Header -->
<header class="header shop">
	<!-- Topbar -->
	<div class="middle-inner" style="background-image:url('{% static 'images/mow.jpg' %}');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-12">
					<!-- Logo -->
					<div class="logo">
						<img src="{% static 'images/logoblack1.jpg' %}" alt="logo" style=" position: absolute; top: 0px;left:250px;width:95px;height:80px;">
					</div>
				<!--/ End Logo -->
				</div>
				<div class="logo" ><center><h1 style="position: absolute; top: 18px;right:400px;text-shadow: 2px 2px black;color:deeppink;font-size:70px;text-indent:0.5em; font-family:Sofia,sans-serif;"><b>Tierra EShop</b></h1></center></div>
				<div class="col-lg-2 col-md-3 col-12">
					<div class="right-bar" >
						<br><br>
						<div class="sinlge-bar" >
							<a href="http://127.0.0.1:8000/" class="single-icon" style="position: absolute; top: 1px;left:600px;"><i class="fa fa-user-circle-o" style="font-size:48px;color:hotpink;"></i></a>
						</div>
						<div class="sinlge-bar shopping" >
							<a href="http://127.0.0.1:8000/cart/" class="single-icon" style="position: absolute; top: 1px;left:700px;"><i class="fa fa-shopping-cart" style="font-size:48px;color:hotpink;"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div><br>
	</div>
	<!-- Header Inner -->
	<div class="header-inner" style="background:#000536;">
		<div class="container">
			<div class="cat-nav-head">
				<div class="row">
					<div class="col-12">
						<div class="menu-area">
							<!-- Main Menu -->
							<nav class="navbar navbar-expand-lg">
								<div class="navbar-collapse">
									<div class="nav-inner">
										<ul class="nav main-menu menu navbar-nav">
											<li><a href="http://127.0.0.1:8000/main/">All Categories</a></li>
											<li><a href="http://127.0.0.1:8000/ofr/">Offer Zone</a></li>
											<li  class="active"><a href="http://127.0.0.1:8000/mobile/">Mobile<span class="new">New</span></a></li>
											<li><a href="">Clothing<span class="new">New</span></a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/men/">Men</a></li>
													<li><a href="http://127.0.0.1:8000/women/">Women</a></li>
													<li><a href="http://127.0.0.1:8000/kids/">Kids</a></li>
													<li><a href="http://127.0.0.1:8000/fash/">All</a></li>
												</ul>
											</li>
											<li><a href="">Electronics</a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/lap/">Laptops</a></li>
													<li><a href="http://127.0.0.1:8000/wat/">Watches</a></li>
													<li><a href="http://127.0.0.1:8000/hd/">Headphones</a></li>
													<li><a href="http://127.0.0.1:8000/ear/">Earbuds</a></li>
												</ul>
											</li>
											<li><a href="">Appliances</a>
												<ul class="dropdown">
													<li><a href="http://127.0.0.1:8000/tv/">Television</a></li>
													<li><a href="http://127.0.0.1:8000/ac/">Air Conditioners </a></li>
													<li><a href="http://127.0.0.1:8000/rf/">Refrigerators</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</nav>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--/ End Header Inner -->
<div style="background-image:url('{% static 'images/mow.jpg' %}');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
	<center>
		<h3 style="color:#2ecc71;"><i><b>From India's Bestselling Brands</b></i></h3>
	</center>

<!--/ Jumbotron -->
<div class="jumbotron" style="background:powderblue;opacity:0.9;filter:alpha(opacity=50);">
	<center>
		<a href="http://127.0.0.1:8000/iphn/">
			<img src="{% static 'images/iphone-logo-17.jpg' %}" width="200px" height="200px">
		</a>
	    <a href="http://127.0.0.1:8000/one/">
		    <img src="{% static 'images/onepluslogo.jpg' %}" width="200px" height="200px">
		</a>
		<a href="http://127.0.0.1:8000/oppo/">
			<img src="{% static 'images/oppologo.jpg' %}" width="200px" height="200px">
		</a>
		<a href="http://127.0.0.1:8000/sam/">
			<img src="{% static 'images/samsung logo.png' %}" width="200px" height="200px">
		</a>
		<a href="http://127.0.0.1:8000/mi/">
			<img src="{% static 'images/milogo.png' %}" width="200px" height="200px">
		</a>
	</center>
</div>

<!--/ Jumbotron End -->
<!--/ Carousel -->
<div>
	<div class="container">
		<div id="demo" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<center>
					<div class="carousel-item active">
						<img src="{% static 'images/iphn.jpg' %}" style="width:800px;height:400px;">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/1+.jpeg' %}" style="width:800px;height:400px;">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/O1.jpg' %}" style="width:800px;height:400px;">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/sg.jpg' %}" style="width:800px;height:400px;">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/mu.jpg' %}" style="width:800px;height:400px;">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/133.jpg' %}" style="width:800px;height:400px;">
					</div>
				</center>
			</div>
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</div>
</div>
<!--/ End Carousel -->

<!--/ BUY stat -->
<br><center>
	<hr style="background-color:white;">
	<h1 style="color:crimson;"><b>Buy Now</b></h1>
			<hr style="background-color:white;">
    </center><br>
<div class="row" >
	<div class="col-sm-3">
		<div class="cards" style="background-color:white;">
			<center>
				<img src="{% static 'images/iphn1.1.png' %}" width="283px" height="309px">
				<h5 style="color:darkmagenta;"><b>Apple iPhone 11 Pro Max</b></h5>
				<p style="color:black;"><b>M.R.P.:	<strike>₹ 1,11,200.00</strike> </b></p>
				<h5 style="color:green;"><b>Deal Price:	₹ 92,900.00</b></h5>
				<form role="form" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<input type="checkbox"  id="mob" name="mob" value="AppleiPhone11ProMaxx" style="margin-left:30px;width:35px;height:18px;">
						<label for="mob">  Quantity   :</label>
						<input type="number" min="1" name="quantity"  style="width:130px;height:20px;"><br><br>
					</div>
					<div style="color:#241571;font-size:19px;"><b> {{ t1 }}</b></div>
					<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
					<br><br>
					<button class="btn" name="b" style="background-color:#00695c;width:220px;color:white;height:30px;" value="buy"> <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
				</form>
			</center><br>
		</div>
	</div>
        <div class="col-sm-3">
            <div class="cards" style="background-color:white;">
				<img src="{% static 'images/mob1.jpg' %}" width="280px" height="310px">
				<center>
					<h5 style="color:darkmagenta;"><b>POCO M3 ( 6GB RAM, 64GB )</b></h5>
					<p style="color:black;"><b>M.R.P.:<strike>₹26,999  </strike> </b></p>
					<h5 style="color:green;"><b>Deal Price: ₹14,900</b></h5>
                    <form role="form" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<input type="checkbox"  id="mob" name="mob" value="POCOM3" style="margin-left:30px;width:35px;height:18px;">
							<label for="mob">  Quantity   :</label>
							<input type="number" min="1" name="quantity"  style="width:130px;height:20px;"><br><br>
						</div>
						<div style="color:#241571;font-size:19px;"><b> {{ t2 }}</b></div>
						<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
						<br><br>
						<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;" > <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
					</form>
				</center><br>
            </div>
        </div>
        <div class="col-sm-3">
			<div class="cards" style="background-color:white;">
				<center>
					<img src="{% static 'images/op2.png' %}" width="200px" height="310px">
					<h5 style="color:darkmagenta;"><b>OPPO F19 Pro+ 5G </b></h5>
					<p style="color:black;"><b>M.R.P.: <strike> 	₹ 29,990.00</strike> </b></p>
					<h5 style="color:green;"><b>Deal Price:	₹ 25,990.00</b></h5>
					<form role="form" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<input type="checkbox"  id="mob" name="mob" value="OPPOF19Pro+" style="margin-left:30px;width:35px;height:18px;">
							<label for="mob">  Quantity   :</label>
							<input type="number" min="1" name="quantity"  style="width:130px;height:20px;"><br><br>
						</div>
						<div style="color:#241571;font-size:19px;"><b> {{ t3 }}</b></div>
						<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
						<br><br>
						<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;" > <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
					</form>
				</center><br>
            </div>
        </div>
<div class="col-sm-3">
	<div class="cards" style="background-color:white;">
		<center>
			<a href="http://127.0.0.1:8000/ofr/">
				<img src="{% static 'images/red2.1.png' %}" width="260px" height="310px">
			</a>
			<h5 style="color:darkmagenta;"><b>Mi 10T 5G Phone </b></h5>
			<p style="color:black;"><b>M.R.P.:<strike>	₹ 39,999.00 </strike></b></p>
			<h5 style="color:green;"><b>Deal Price:	₹ 28,480.00</b></h5>
			<form role="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<input type="checkbox"  id="mob" name="mob" value="Mi10T5G" style="margin-left:30px;width:35px;height:18px;">
					<label for="mob">  Quantity   :</label>
					<input type="number" min="1" name="quantity"  style="width:130px;height:20px;"><br><br>
				</div>
				<div style="color:#241571;font-size:19px;"><b> {{ t4 }}</b></div>
				<button class="btn" name="b" value="cart" style="background-color:#039be5;width:220px;color:white;height:30px;"> <i class="fa fa-shopping-cart" style="font-size:20px;"><b> ADD TO CART</b></i></button>
				<br><br>
				<button class="btn" name="b" value="buy" style="background-color:#00695c;width:220px;color:white;height:30px;" > <i class="fa fa-inr" style="font-size:20px;"><b> BUY NOW</b></i></button>
			</form>
		</center><br>
	</div>
</div>
</div>
<br>
<!--/ Buy End -->
<div style="background:powderblue;">
	<h3 style="margin-left:10px;color:black;"><b>Smartphones to suit your needs</b></h3>
<div class="row" style="background:powderblue;height:300px;width:1250px;">
	<div class="col-sm-2">
		<div class="cards" style="background-color:white;">
			<center>
				<a href="http://127.0.0.1:8000/iphn/">
					<img src="{% static 'images/iphn11.2.png' %}" width="150px" height="230px">
					<p style="color:black">Apple iPhone 11</p>
					<div style="background:powderblue;">
						<h5 style="color:black">Shop Now</h5>
					</div>
				</a>
			</center>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="cards" style="background-color:white;">
			<center>
				<a href="http://127.0.0.1:8000/one/">
					<img src="{% static 'images/6.png' %}" width="130px" height="230px">
					<p style="color:black">OnePlus 5</p>
					<div style="background:powderblue;">
						<h5 style="color:black">Shop Now</h5>
					</div>
				</a>
			</center>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="cards" style="background-color:white;">
			<center>
				<a href="http://127.0.0.1:8000/oppo/">
					<img src="{% static 'images/op2.png' %}" width="150px" height="230px">
					<p style="color:black">OPPO Reno4 Pro</p>
					<div style="background:powderblue;">
						<h5 style="color:black">Shop Now</h5>
					</div>
				</a>
			</center>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="cards" style="background-color:white;">
			<center>
				<a href="http://127.0.0.1:8000/sam/">
					<img src="{% static 'images/samm8.png' %}" width="150px" height="230px">
					<p style="color:black">SAMSUNG Galaxy A32</p>
					<div style="background:powderblue;">
						<h5 style="color:black">Shop Now</h5>
					</div>
				</a>
			</center>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="cards" style="background-color:white;">
			<center>
				<a href="http://127.0.0.1:8000/mi/">
					<img src="{% static 'images/mi5.png' %}" width="150px" height="230px">
					<p style="color:black">Redmi 9 Power</p>
					<div style="background:powderblue;">
						<h5 style="color:black">Shop Now</h5>
					</div>
				</a>
			</center>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="cards" style="background-color:white;">
			<center>
				<a href="http://127.0.0.1:8000/iphn/">
					<img src="{% static 'images/xr.png' %}" width="150px" height="230px">
					<p style="color:black;">Apple iPhone XR</p>
					<div style="background:powderblue;">
						<h5 style="color:black">Shop Now</h5>
					</div>
				</a>
			</center>
		</div>
	</div>
</div>
</div>
<br>
<!--/ Carousel -->
	<div class="container">
			<div id="demo1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<center>
						<div class="carousel-item active">
							<a href="http://127.0.0.1:8000/sam/">
								<img src="{% static 'images/cu1.png' %}" style="width:1000px;height:300px;">
							</a>
						</div>
					<div class="carousel-item">
						<a href="http://127.0.0.1:8000/sam/">
							<img src="{% static 'images/cu.png' %}" style="width:1000px;height:300px;">
						</a>
					</div>
						<div class="carousel-item">
							<a href="http://127.0.0.1:8000/oppo/">
								<img src="{% static 'images/cu2.png' %}" style="width:1000px;height:300px;">
							</a>
						</div>
						<div class="carousel-item">
							<a href="http://127.0.0.1:8000/sam/">
								<img src="{% static 'images/cu4.png' %}" style="width:1000px;height:300px;">
							</a>
						</div>
						<div class="carousel-item">
							<a href="http://127.0.0.1:8000/one/">
								<img src="{% static 'images/cu5.png' %}" style="width:1000px;height:300px;">
							</a>
						</div>
						<div class="carousel-item">
							<a href="http://127.0.0.1:8000/sam/">
								<img src="{% static 'images/cu6.png' %}" style="width:1000px;height:300px;">
							</a>
						</div>
					</center>
				</div>
				<a class="carousel-control-prev" href="#demo1" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo1" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
<!--/ End Carousel -->


<!--/ Footer -->
<hr style="background-color:white">
<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/log.jpg' %}" alt="#" width="230px"></a>
							</div><br><br>
							<p class="call" style="color:white;">Got Question?  Call us 24/7 <span><a href="tel:123456789" style="color:white;"> +0123 456 789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4 style="color:white;">Information</h4>
							<a href="#">About Us</a>
							<a href="#">Faq</a>
							<a href="#">Terms & Conditions</a>
							<a href="#">Contact Us</a>
							<a href="#">Help</a>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4 style="color:white;">Customer Service</h4>
								<a href="#">Payment Methods</a>
								<a href="#">Money-back</a>
								<a href="#">Returns</a>
								<a href="#">Shipping</a>
								<a href="#">Privacy Policy</a>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4 style="color:red;">Get In Touch</h4>
							<!-- Single Widget -->
							<div class="contact" style="color:white;">
								Kozhikode.
								Kerala,India
								info@tierraeshop.com<br>
								+911 2345 6789
							</div>
							<!-- End Single Widget -->
							<a href="#" style="color:red;"><i class="ti-facebook"></i></a>
							<a href="#" style="color:red;"><i style="text-indent:3em;" class="ti-twitter"></i></a>
							<a href="#" style="color:red;"><i class="ti-instagram"></i></a>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
			<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p style="color:white;">Copyright © 2020 <a href="http://www.tierraeshopp.com" target="_blank">TierraEshop</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="{% static 'images/payments.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>